<!--Content-->
<div class="col-md-9">
    <div class="dashboard-area">
        <!--Todo conteudo aqui-->
        <div class="row ">
            <div class="col-12 coluna">
                <table id="example" class="table  table-responsive">
                    <thead class="bg-dark" style="color: #ffffff">
                    <tr>
                        <th>Data do Pedido</th>
                        <th>Estado do Pedido</th>
                        <th>Quantidade de Itens</th>
                        <th>Total Pago</th>
                        <th>Detalhes</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop="$pedido"}
                    <tr>
                        <td>{$value.data_pedido}</td>
                        <td>{$value.status_pedido}</td>
                        <td>{$value.qtd}</td>
                        <td>{$value.total_pedido}</td>
                        <td><a href="/cliente/meu-pedido/{$value.id_pedidos}/detalhes" class="btn btn-sm btn-primary">Detalhes</a></td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>
            </div>
        </div>
   <!--Fimm Todo conteudo aqui-->
    </div>
</div>
</div>
</div>
</section>