<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
           Fechar ou Abrir Sistema
        </h1>
        <ol class="breadcrumb">
            <li><a href="/gestor"><i class="fa fa-tachometer-alt"></i> Pagina Inicial</a></li>
            <li class="active">Abrir Ou Fechar</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="example-modal">
            <div class="modal modal-success">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>
                            <h4 class="modal-title">Success Modal</h4>
                        </div>
                        <div class="modal-body">
                            <p>One fine body…</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-outline">Save changes</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
