<section class="hero-section">
    <div class="conteudo">

        <div >
            <h1>Order delivery & Take-Out</h1>
            <h6><span>-Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></h6>
        </div>

    </div>
</section>

<section>
    <div class="container">
        <div class="titulo mt-3">
            <h1 class="text-center">Meu Carrinho</h1>
            <hr class="separator"/>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12 itens-cart text-center">Itens no Carrinho
                    </div>
                </div>
                <div class="tabela">
                    <table class="table table-hover table-responsive">
                        <thead class="px-10">
                        <tr >
                            <th scope="col">Produto</th>
                            <th scope="col"></th>
                            <th scope="col">Preço</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col">Acção</th>
                        </tr>
                        </thead>
                        <tbody>
                        {loop="$lista"}
                        <tr>
                            <th scope="row"><img src="/app/uploads/{$value.img_item}" alt=""></th>
                            <td>{$value.nome_produto}</td>
                            <td>{function="formatarPreco($value.preco_produto)"}</td>
                            <td class="product-quantity">
                                <div class="quantity buttons_added">
                                    <input type="button" class="minus" value="-" onclick="window.location.href = '/carrinho/{$value.id_produto}/menos'">
                                    <input type="number" size="4" class="input-text qty text" title="Qty" value="{$value.quantidade}" min="0" step="1">
                                    <input type="button" class="plus" value="+" onclick="window.location.href = '/carrinho/{$value.id_produto}/add'">
                                </div>
                            </td>
                            <td>{function="formatarPreco($value.vlTotal)"}</td>
                            <td><button class="btn btn-danger btn-sm" type="button" onclick="window.location.href = '/carrinho/{$value.id_produto}/deleteAll'">
                                 <i class="fas fa-trash" ></i>
                            </button>
                               </td>
                        </tr>
               {/loop}

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3 box-pagamento mb-4 ">
                <div class="row pagamento justify-content-end">
                    <div class="col-md-12 text-center">Pagamento</div>

                </div>
                <form action="/next-step" method="post">
                <div class="row subtotal">
                    <div class="col-6 sub">Subtotal:</div>
                    <div class="col-6 sub text-right">{loop="$subtotal"}{function="formatarPreco($value.Subtotal)"}{/loop} MZN</div>
                </div>
                <div class="row delivery-pickup">
                    <div class="col-12 ">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="delivery" value="1" onclick="" name="radio" class="custom-control-input" checked>
                            <label class="custom-control-label" for="delivery">Delivery</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline radio2">
                            <input type="radio" id="pickup" name="radio" value="2" class="custom-control-input">
                            <label class="custom-control-label" for="pickup">Pickup</label>
                        </div>
                    </div>
                </div>
                <div class="row taxa-delivery mb-3 " >
                    <div class="col-md-6 " id="taxa_delivery">Taxa de Delivery:</div>
                    <div class="col-md-6 text-right ">150 MZN</div>
                </div>
                <hr>
                <div class="row mb-3 total">
                    <div class="col-md-6">Total a Pagar:</div>
                    <div class="col-md-6 text-right ">{loop="$subtotal"}{function="formatarPreco($value.Subtotal+150)"}{/loop} MZN</div>
                </div>

                <div class="row mb-3 total">
                    <div class="col-md-12 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary bnt-search">
                            Pagamento/Checkout
                        </button>
                    </div>

                </div>
                </form>
            </div>

        </div>
    </div>
</section>
{include="testemunhos"}

