<section class="hero-section">
    <div class="conteudo">

        <div >
            <h1>Order delivery & Take-Out</h1>
            <h6><span>-Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></h6>
        </div>

        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="searchbar form-inline">
                    <input class="form-control search-input mb-2" type="text" name="" placeholder="Search...">
                    <button type="submit" class="btn btn-primary bnt-search">Feed me <i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>

    </div>

</section>
<section class="popular">
    <div class="titulo text-center">
        <h1 class="">Mais Popular</h1>
        <hr class="separator"/>
        <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit</small>
    </div>
    <div class="container owl-carousel owl-theme popularSlider">
        {loop="$produto"}
        <div class="item">
            <div class="card" >
                <img src="/app/uploads/{$value.img_item}"  class="card-img-top" alt="{$value.nome_produto}">
                <div class="card-body card-corpo">
                    <h5 class="card-title">{$value.nome_produto}</h5>
                    <p class="card-text"><small>{$value.descricao_produto}</small></p>

                        <di class="row">
                            <div class="col-md-6"><span class="preco text-muted">{function="formatarPreco($value.preco_produto)"} MZN</span></div>
                            <div class="col-md-6">

                                    {if="$value.produto_status=='indisponivel'"}
                                        <button class="btn btn-danger disabled float-right">Indisponível</button>
                                    {else}
                                        <form action="/carrinho/adicionar" method="POST">
                                            <input type="hidden" name="id_produto" value="{$value.id_produto}">
                                            <button type="submit" class="btn btn-outline-primary btn-addcart">Peça agora</button>
                                        </form>
                                    {/if}
                            </div>
                        </di>


                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </div>

        {/loop}

    </div>
</section>

<section class="passos">
    <div class="texto-titulo">
        <h1 class="text-center">4 Passos e já está.</h1>
        <hr class="separator"/>
    </div>
</section>
{include="testemunhos"}
