<section class="hero-section">
    <div class="conteudo">

        <div >
            <h1>Order delivery & Take-Out</h1>
            <h6><span>-Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></h6>
        </div>

        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="searchbar form-inline">
                    <input class="form-control search-input mb-2" type="text" name="" placeholder="Search...">
                    <button type="submit" class="btn btn-primary bnt-search">Feed me <i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>

    </div>

</section>
<section class="popular">
    <div class="titulo text-center">
        <h1 class="">Mais Popular</h1>
        <hr class="separator"/>
        <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit</small>
    </div>
    <div class="container owl-carousel owl-theme popularSlider">
        <div class="item">
            <div class="card" >
                <img src="./app/src/img/heroimg.jpg" class="card-img-top" alt="...">
                <div class="card-body card-corpo">
                    <h5 class="card-title">1/4 Frango Frito</h5>
                    <p class="card-text"><small>Com batata frita</small></p>
                    <p>
                        <span class="preco text-muted">150.00 MZN</span>
                        <button type="submit" class="btn btn-outline-primary btn-addcart">peça agora</button>
                    </p>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card" >
                <img src="./app/src/img/heroimg.jpg" class="card-img-top" alt="...">
                <div class="card-body card-corpo">
                    <h5 class="card-title">1/4 Frango Frito</h5>
                    <p class="card-text"><small>Com batata frita</small></p>
                    <p>
                        <span class="preco text-muted">150.00 MZN</span>
                        <button type="submit" class="btn btn-outline-primary btn-addcart">peça agora</button>
                    </p>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card" >
                <img src="./app/src/img/heroimg.jpg" class="card-img-top" alt="...">
                <div class="card-body card-corpo">
                    <h5 class="card-title">1/4 Frango Frito</h5>
                    <p class="card-text"><small>Com batata frita</small></p>
                    <p>
                        <span class="preco text-muted">150.00 MZN</span>
                        <button type="submit" class="btn btn-outline-primary btn-addcart">peça agora</button>
                    </p>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card" >
                <img src="./app/src/img/heroimg.jpg" class="card-img-top" alt="...">
                <div class="card-body card-corpo">
                    <h5 class="card-title">1/4 Frango Frito</h5>
                    <p class="card-text"><small>Com batata frita</small></p>
                    <p>
                        <span class="preco text-muted">150.00 MZN</span>
                        <button type="submit" class="btn btn-outline-primary btn-addcart">peça agora</button>
                    </p>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="passos">
    <div class="texto-titulo">
        <h1 class="text-center">4 Passos e já está.</h1>
        <hr class="separator"/>
    </div>
</section>

<div class="testimonial1 py-5 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h4 class="my-3">Veja o que nossos clientes estão dizendo</h4>
                <h6 class="subtitle font-weight-normal">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h6>
            </div>
        </div>
        <!-- Row  -->
        <div class="owl-carousel owl-theme testi1 mt-4">
            <!-- item -->
            <div class="item">
                <div class="card card-shadow border-0 mb-4">
                    <div class="card-body">
                        <div class="position-relative thumb bg-success-gradiant d-inline-block text-white mb-4"><img src="./app/src/img/22.jpg" alt="wrapkit" class="thumb-img position-absolute rounded-circle" /> Michelle B</div>
                        <h5 class="font-weight-light">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
                        <span class="devider d-inline-block my-3"></span>
                        <h6 class="font-weight-normal">Managing Director, Theme Designer</h6>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card card-shadow border-0 mb-4">
                    <div class="card-body">
                        <div class="position-relative thumb bg-success-gradiant d-inline-block text-white mb-4"><img src="./app/src/img/22.jpg" alt="wrapkit" class="thumb-img position-absolute rounded-circle" /> Michelle B</div>
                        <h5 class="font-weight-light">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
                        <span class="devider d-inline-block my-3"></span>
                        <h6 class="font-weight-normal">Managing Director, Theme Designer</h6>
                    </div>
                </div>
            </div>
            <!-- item -->
        </div>
    </div>
</div>